@{
    ViewBag.Title = "Our Mission";
}
<h2>@ViewBag.Title.</h2>
<br />

<h4>What if you could earn money for completing day to day tasks like cleaning your room, doing your laundry, or finishing a good book?  <br /> <br />  Hello Player was created 
    to make this dream a reality. <br /> <br /> Turn your life into a video game and complete quests that give you coin and experience points into different skill trees. Party up with
    friends to complete quests together and earn party bonus rewards. </h4>

<h3>Earn money for completing chores? Are we your parents?</h3>

<h4>
    Not to our knowledge? We can settle that on Maury another time. To answer the question of earning money to complete your chores: YES!
    <br />
    This will be possible by giving bit coin cryptocurrency everytime you complete as a quest! <a href="https://bitcoin.org/en/bitcoin-for-individuals">Go here</a> to learn more about bit coin and its uses.
    <br />Quests will become more detailed and fleshed out in later patches to allow us to collect more information when you complete a quest. <br /><br />
    For example: You complete a quest to finish a good book. When you complete the quest you'll be asked to enter some details about the book such as a picture or details about the book.
    <br /> <br />
    This data will be processed through Artificial Intelligence to learn more about different topics and the trends players create when completing quests. Once the AI has processed the data it will moved to a ledger
    (book data would go to a ledger of books) and bitcoins would be generated and added to your account wallet.
    <br /><br />
    Pretty neat, huh?
</h4>

<h3>A robots going to collect my data?</h3>

<h4>Only data about the way you complete a quest. Ultimately we would like to get to a point where the AI has learned enough about different quests that it can decide whether a quest has actually been completed to standard. 
    You shouldn't be able to upload a picture of a dirty dog if the quest was to wash your dog.</h4>

<h3>When will this be available to players?</h3>

<h4>Current timelines estimate the use of Artificial Intelligence by Winter 2020. Bitcoin rewards will be available by Summer 2021.</h4>