@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Player</h1>
    <p class="lead">Complete quests and earn rewards! Turn everyday tasks and chores into a fun game.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            Learn about what we envision this application to be in the foreseeable future. We have big plans to make this an experience you would have never imagined. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Quests</h2>
        <p>View the current selection of quests and start earning rewards today!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View All &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patch Notes</h2>
        <p>Keep up to date with all the features and fixes implemented to enhance your experience!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>